@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0e0f0c;
  --primary: #9fe870;
  --secondary: #163300;
  --primary-accent: #b8f08f;
  --foreground-accent: #50534e;
  --hero-background: #e8ebe6;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg selection:bg-primary selection:text-black;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-source-sans), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: var(--font-manrope), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.035em;
}
